body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF0F5;
    font-family: 'Roboto', sans-serif;
  }
  
  #app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #FFB6C1;
    text-align: center;
  }
  
  #images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  h1 {
    font-family: 'Pacifico', cursive;
    color: #FF1493;
    font-size: 12vmin;
    margin-bottom: 2vh;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  #heart {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    transition: transform 0.1s;
    margin: 2vh 0;
    width: 40vmin;
    height: 40vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 0%;
  }
  
  #heart img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  #heart:hover {
    transform: scale(1.05);
  }
  
  #heart:active {
    transform: scale(0.95);
  }
  
  #counter {
    font-family: 'Pacifico', cursive;
    font-size: 10vmin;
    margin-top: 2vh;
    color: #FF1493;
  }
  
  .popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
  }
  
  .popup-content {
    background-color: rgba(255,255,255,0.8);
    margin: 10% auto;
    padding: 30px;
    border: 1px solid #888;
    width: 90%;
    max-width: 700px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }
  
  .popup-content img {
    max-width: 100%;
    height: auto;
  }
  
  .popup-content p {
    font-family: 'Pacifico', cursive;
    font-size: 36px;
    color: #FF1493;
    margin: 30px 0;
  }
  
  #close-popup {
    background-color: #FF1493;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 24px;
    transition: background-color 0.3s;
  }
  
  #close-popup:hover {
    background-color: #FF69B4;
  }